<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Sandbox</h1>
    <p class="lead">Try out some new features</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <h1 class="page-header">Things:</h1>

      <form class="thing-form">
        <label>Syncs in realtime across clients</label>
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="sandbox.newThing">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="sandbox.addThing()">Add</button>
          </span>
        </p>
      </form>

      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in sandbox.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="sandbox.deleteThing(thing)">&times;</button></a></li>
      </ul>

    </div>
  </div>
</div>