<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Super QA</h1>
    <p class="lead">Question Answer</p>
  </div>
</header>

<div class="container">
  <br>

  <div>
    <a type="button" class="btn btn-warning" href="/questions/create">Ask Question</a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th width="20">Votes</th>
        <th width="20">Answers</th>
        <th>Question</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="question in questions">
        <td style="text-align: center; vertical-align:middle">
          <div style="font-size: xx-large;">{{question.votes.length}}</div>
        </td>
        <td style="text-align: center; vertical-align:middle">
          <div style="font-size: xx-large;">{{question.answers.length}}</div>
        </td>
        <td>
          <a ng-href="/questions/show/{{question._id}}" style="font-size: large">{{question.title}}</a>
          <div>
            <span ng-repeat="tag in question.tags">
                <span class="label label-info">
                  {{tag.text}}
                </span> &nbsp;
            </span>
          </div>
          <div class="clearfix"></div>
        </td>
        <td>
          <p>
            {{question.content}}
          </p>
          <div class="clearfix"></div>
          <div style="float: right;">
            Asked by <a ng-href="/users/{{question.user._id}}">{{question.user.name || "Anonymous"}}</a> at {{question.createdAt|fromNow}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>