<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Super QA</h1>
    <p class="lead">Question Answer</p>
  </div>
</header>

<div class="container">
  <br>

  <div style="text-align: center">
    <a type="button" class="btn btn-warning" href="/questions/create">Ask Question</a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Question</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="question in questions">
        <td>
          <a ng-href="/questions/show/{{question._id}}" style="font-size: large">{{question.title}}</a>
          <div class="clearfix"></div>
          <div style="float: right;">
            by {{question.user.name || "Anonymous"}} at {{question.createdAt}}
          </div>

          <div>
            <span ng-repeat="tag in question.tags">
            <span class="label label-info">
              {{tag.text}}
            </span> &nbsp;
            </span>
          </div>

        </td>

        <td>
          <p>
            {{question.content}}
          </p>
          <!-- <pagedown-viewer content="question.content"></pagedown-viewer> -->
        </td>
      </tr>
    </tbody>

  </table>

</div>