<div class="ui massive inverted fixed top menu" ng-controller="NavbarController">

  <!-- shift left -->
  <div class="header item">
    <!-- <img src="/images/logo.png"> -->
    Super QA
  </div>

  <div class="item" ng-repeat="item in nav.menu" ng-class="{active: isActive(item.link())}" ui-sref-active="active" ng-show="item.show()">
    <a ng-href="{{item.link()}}">{{item.title}}</a>
  </div>

  <!-- shift right -->
  <div class="right menu">

    <!-- visitor -->
    <a class="active orange item" ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="signup">Sign Up</a>
    <a class="active blue item" ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="login">Sign in</a>

    <!-- user -->
    <span class="item" ng-show="nav.isLoggedIn()">Hi {{ nav.getCurrentUser().name }}!</span>

    <!-- if admin -->
    <a class="active red item" ng-show="nav.isAdmin()" ui-sref-active="active" a ui-sref="admin">Admin Panel</a>
    <a class="active yellow item" ng-show="nav.isAdmin()" ui-sref-active="active" ui-sref="sandbox">Sandbox</a>

    <!-- user -->
    <a class="active brown item" ng-show="nav.isLoggedIn()" ui-sref-active="active" ui-sref="settings"><i class="wrench icon"></i></a>
    <a class="item" ng-show="nav.isLoggedIn()" ui-sref="logout">Sign out</a>

  </div>

</div>