<!-- floating navbar -->
<div class="ui inverted fixed top menu" ng-controller="NavbarController">

  <!-- shift left -->
  <div class="header item">
    <!-- <img src="/images/logo.png"> -->
    <a href="http://mhaidarhanif.com">SuperNetwork</a>
  </div>

  <!-- shift right -->
  <div class="right menu">

    <!-- visitor -->
    <a class="active orange item" ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="signup">Sign Up</a>
    <a class="active blue item" ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="login">Sign in</a>

    <!-- user -->
    <a class="active orange item" ng-show="nav.isLoggedIn()" ui-sref-active="active" ui-sref="settings">Hi {{ nav.getCurrentUser().name }}!</a>

    <!-- if admin -->
    <a class="active green item" ng-show="nav.isAdmin()" ui-sref-active="active" a ui-sref="admin">Admin Panel</a>
    <a class="active yellow item" ng-show="nav.isAdmin()" ui-sref-active="active" ui-sref="sandbox">Sandbox</a>

    <!-- user -->
    <a class="item" ng-show="nav.isLoggedIn()" ui-sref="logout">Sign out</a>

  </div>

</div>

<!-- actionables............................................................ -->

<!-- hero -->
<header class="ui left aligned container">
  <a ng-href="/">
    <h2 class="ui huge black header">
      <i class="blue database icon"></i><span class="content">SuperQA</span>
    </h2>
  </a>
</header>

<!-- action buttons -->
<div class="ui left aligned container actions">
  <a class="orange ui button" href="/questions/create">Ask Question</a>

  <span ng-repeat="item in nav.menu" ng-class="{active: isActive(item.link())}" ui-sref-active="active" ng-show="item.show()">
    <a class="ui button" ng-href="{{item.link()}}">{{item.title}}</a>
  </span>

  <!-- separator -->
  <div class="ui horizontal divider">
    <i class="loading setting icon"></i>
  </div>

</div>