<div class="ui middle aligned center aligned grid">
  <div class="column">

    <h2 class="ui orange image header">
      <div class="content">Sign up a new account</div>
    </h2>

    <form class="ui large form" name="form" ng-submit="vm.register(form)" novalidate>

      <div class="ui stacked segment">

        <!-- name -->
        <div class="field" ng-class="{ 'has-success': form.name.$valid && vm.submitted, 'has-error': form.name.$invalid && vm.submitted }">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="name" placeholder="Your Name" ng-model="vm.user.name" required/>
          </div>
          <p ng-show="form.name.$error.required && vm.submitted">
            What's your name?
          </p>
        </div>

        <!-- email -->
        <div class="field" ng-class="{ 'has-success': form.email.$valid && vm.submitted, 'has-error': form.email.$invalid && vm.submitted }">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="username@example.com" ng-model="vm.user.email" required mongoose-error>
          </div>
          <p ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <!-- password -->
        <div class="field" ng-class="{ 'has-success': form.password.$valid && vm.submitted, 'has-error': form.password.$invalid && vm.submitted }">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="P455W0RD" ng-model="vm.user.password" ng-minlength="3" required mongoose-error>
          </div>
          <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters
          </p>
          <p ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <!-- password confirm -->
        <div class="field" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted, 'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="confirmPassword" placeholder="Type your P455W0RD again" ng-model="vm.user.confirmPassword" match="vm.user.password" ng-minlength="3" required>
          </div>
          <p ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>

        <div class="ui error message has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
            Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Please enter a valid email.
          </p>
          <p class="help-block">{{ vm.errors.other }}</p>
        </div>

        <button class="ui fluid large orange submit button" type="submit">Sign up</button>
      </div>

      <div class="ui error message"></div>

      <div class="ui message">
        Alreay have an account? <a class="" ui-sref="signup">Sign In</a>
      </div>

      <oauth-buttons classes="btn-block"></oauth-buttons>

    </form>

  </div>
</div>