<div class="container" id="question-show-container">

  <div style="float: left;font-size: x-large; padding: 0; width: 2em; text-align: center;">
    <button ng-if=" isVote(question)" type="button" style="background: transparent; border: 0;" ng-click="unvote('')">
      <span class="glyphicon glyphicon-chevron-up" style="color: #ff922b;" ></span>
    </button>
    <button ng-if="!isVote(question)" type="button" style="background: transparent; border: 0;" ng-click="vote('')">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </button>
    <br/>
    <div>{{question.votes.length}}</div>
  </div>

  <div>
    <h1>
      <div ng-if="!editing">{{question.title}}</div>
      <!-- edit question title -->
      <input type="text" class="form-control" ng-model="question.title" name="question_title" ng-if="editing" required>
      <span class="text-danger" ng-messages="form.question_title.$error">
        <span ng-message="required">Please fix your title</span>
      </span>

    </h1>

    <!-- TODO: Disable save if title and content are broken -->

    <pagedown-viewer content="question.content" ng-if="!editing"></pagedown-viewer>

    <!-- edit question content -->
    <pagedown-editor ng-model="question.content" ng-if=" editing"></pagedown-editor>
    <button type="submit" class="btn btn-primary" ng-click="editing=false; updateQuestion()" ng-show=" editing">save</button>
    <a class="btn" ng-click="editing=!editing;" ng-show="isOwner(question) && !editing">edit</a>
    <a ng-show="isOwner(question)" type="button" ng-click="deleteQuestion()">delete</a>

    <div class="text-right">Asked by {{question.user.name || "Anonymous"}} at {{question.createdAt|fromNow}}</div>

    <span ng-repeat="tag in question.tags">
      <span class="label label-info">
        {{tag.text}}
      </span>
    </span>

  </div>

  <hr>

  <h3>{{question.answers.length}} Answers</h3>
  <div ng-repeat="answer in question.answers">

    <hr>

    <div style="float: left;font-size: large; padding: 0; width: 2em; text-align: center;">
      <button ng-if="isVote(answer)" type="button" style="background: transparent; border: 0;" ng-click="unvote('/answers/' + answer._id)">
        <span class="glyphicon glyphicon-chevron-up" style="color: #ff922b;" ></span>
      </button>
      <button ng-if="!isVote(answer)" type="button" style="background: transparent; border: 0;" ng-click="vote('/answers/' + answer._id)">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </button>
      <br/>
      <div>{{answer.votes.length}}</div>
    </div>

    <div class="answer">
      <pagedown-viewer content="answer.content" ng-if="!editing"></pagedown-viewer>

      <!-- edit answer -->
      <pagedown-editor ng-model="answer.content" ng-if=" editing"></pagedown-editor>
      <a type="submit" class="btn btn-primary" ng-click="editing=false;updateAnswer(answer)" ng-show=" editing">save</button>
        <a class="btn" ng-click="editing=!editing;" ng-show="isOwner(answer) && !editing">edit</button>
        <a class="btn" ng-click="editing=!editing;" ng-if="editing">cancel</button>
        <a ng-show="isOwner(answer)" type="button" ng-click="deleteAnswer(answer)">delete</a>

      <div class="text-right">Answered by {{answer.user.name || "Anonymous"}} at {{question.createdAt|fromNow}}</div>

      <!-- comment for each answer -->
      <div class="comment">
        <div ng-repeat="comment in answer.comments">
          <hr/>
          <button ng-if="isOwner(comment)" type="button" class="close" ng-click="deleteAnswerComment(answer, comment)">&times;</button>

          <pagedown-viewer content="comment.content" ng-if="!editing"></pagedown-viewer>
          <pagedown-editor ng-model="comment.content" ng-if=" editing"></pagedown-editor>
          <button type="submit" class="btn btn-primary" ng-click="editing=false;updateAnswerComment(answer, comment)" ng-show=" editing">Save</button>
          <a ng-click="editing=!editing;" ng-show="isOwner(comment) && !editing">Edit</a>

          <div class="text-right">by <a ng-href="/users/{{question.user._id}}">{{comment.user.name}}</a> · {{comment.createdAt|fromNow}}</div>
          <div class="clearfix"></div>
        </div>
        <hr/>
        <a ng-click="editNewAnswerComment=!editNewAnswerComment;answer.newAnswerComment={}">add a comment</a>
        <form ng-if="editNewAnswerComment" name="answer_{{answer.id}}_comment">
          <hr/>
          <pagedown-editor ng-model="answer.newAnswerComment.content" editor-class="'comment-wmd-input'" ng-model="answer.newAnswerComment.content" required>
          </pagedown-editor>
          <button type="button" class="btn btn-primary" ng-click="submitAnswerComment(answer)" ng-disabled="answer_{{answer.id}}_comment.$invalid">Add Comment</button>
        </form>
      </div>

    </div>

  </div>

  <hr>

  <h3>Answers</h3>
  <form name="answerForm" ng-submit="submitAnswer()">
    <!-- <textarea rows=10 cols=80 ng-model="newAnswer.content"></textarea> -->
    <pagedown-editor ng-model="newAnswer.content" required></pagedown-editor>
    <input type="submit" class="btn btn-primary" ng-disabled="answerForm.$invalid" value="Post Your Answer">
  </form>

</div>