<div class="container" id="question-show-container">
  <div>
    <div>
      <h1>{{question.title}}</h1>
    </div>
  </div>
  <hr>
  <pagedown-viewer content="question.content"></pagedown-viewer>
  <h3>{{question.answers.length}} Answers</h3>

  <div ng-repeat="answer in question.answers">
    <hr/>
    <div class="answer">
      <pagedown-viewer content="answer.content"></pagedown-viewer>
    </div>
  </div>

  <hr/>

  <h3>Answers</h3>
  <form name="answerForm" ng-submit="submitAnswer()">
    <!-- <textarea rows=10 cols=80 ng-model="newAnswer.content"></textarea> -->
    <pagedown-editor ng-model="newAnswer.content"></pagedown-editor>
    <input type="submit" class="btn btn-primary" value="Post Your Answer">
  </form>

</div>